@model Front_Endeavor.Models.ViewModels.WorkspaceViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<div class="text-center p-5" style="border: 1px solid black;
                 -webkit-box-shadow: 3px 3px 4px 0px @Model.Color1;
                -moz-box-shadow: 3px 3px 4px 0px @Model.Color1;
                box-shadow: 3px 3px 4px 0px @Model.Color1; border-radius: 1%; isolation: isolate;" >
    <div class="row">
        <div class="col-md-3">
            @if (Model.UserWorkspaces.FirstOrDefault(uw => uw.ApplicationUserId == UserManager.GetUserAsync(User).Result.Id).DevLead)
            {
                <div class="mb-2">
                    @*Search for users by email*@
                    <form asp-action="Details" asp-route-id="@Model.Id" class="mb-2">
                        <label class="control-label text-left text-lg-center mb-0" style="font-size: 20px;" id="searchUserLabel">Search Users by Email:</label>
                        <input type="text" name="SearchString" class="form-control form-inline w-100 mb-2 rounded">
                        <input type="submit" value="Search" class="btn btn-primary btn-sm" id="userSearchButton" />
                    </form>
                    @if (Model.SearchResults.Count > 0)
                    {
                        <ul>
                            @foreach (var result in Model.SearchResults)
                            {
                                <li class="text-left userSearchResult" id="user--@result.Id">@result.FirstName @result.LastName <button class="btn btn-outline-secondary btn-sm addUserButton" id="Add--@Model.Id--@result.Id">Add</button></li>
                            }
                        </ul>
                    }
                    else if (Model.SearchResults.Count > 3)
                    {
                        <p id="tooManyResults">There are too many results! Please better specify your search.</p>
                    }
                </div>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success btn-sm mb-2" id="editWorkspaceButton">Edit Workspace</a>
            }
            @if (!String.IsNullOrEmpty(Model.GithubRepo) || !String.IsNullOrEmpty(Model.DataRelatDiagram) || !String.IsNullOrEmpty(Model.MockupDiagram))
            {
                <div class="rounded p-1 mb-2 bg-light" id="projectLinkList" style="border: 1px solid black;
                 -webkit-box-shadow: 3px 3px 4px 0px @Model.Color3;
                -moz-box-shadow: 3px 3px 4px 0px @Model.Color3;
                box-shadow: 3px 3px 4px 0px @Model.Color3;">
                    <h4 class="mb-3 font-weight-normal">Project Links:</h4>
                    <ul class="text-left">
                        @if (!String.IsNullOrEmpty(Model.GithubRepo))
                        {
                            <li class="mb-2"><h5 class="font-weight-normal"><a href="@Model.GithubRepo" target="_blank">GitHub Repository</a></h5></li>
                        }
                        @if (!String.IsNullOrEmpty(Model.DataRelatDiagram))
                        {
                            <li class="mb-2"><h5 class="font-weight-normal"><a href="@Model.DataRelatDiagram" target="_blank">Data Relationship</a></h5></li>
                        }
                        @if (!String.IsNullOrEmpty(Model.MockupDiagram))
                        {
                            <li class="mb-2"><h5 class="font-weight-normal"><a href="@Model.MockupDiagram" target="_blank">Mockup</a></h5></li>
                        }
                    </ul>
                </div>
            }
            <div class="rounded p-1 bg-primary text-light" style="border: 1px solid black;
                 -webkit-box-shadow: 3px 3px 4px 0px @Model.Color2;
                -moz-box-shadow: 3px 3px 4px 0px @Model.Color2;
                box-shadow: 3px 3px 4px 0px @Model.Color2;" id="teamMemberList">
                <h4 class="mb-3 font-weight-normal">Team Members</h4>
                <ul class="text-left" id="teamList">
                    @foreach (var teammate in Model.UserWorkspaces)
                    {
                        if (teammate.DevLead)
                        {
                            <li class="mb-2"><h5 class="font-weight-normal">@teammate.ApplicationUser.FirstName @teammate.ApplicationUser.LastName ⭐</h5></li>
                        }
                        else
                        {
                            <li class="mb-2"><h5 class="font-weight-normal">@teammate.ApplicationUser.FirstName @teammate.ApplicationUser.LastName</h5></li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="jumbotron jumbotron-fluid p-1 rounded" id="jumboHeader" style="border: 1px solid black;
                 -webkit-box-shadow: 3px 3px 4px 0px @Model.Color1;
                -moz-box-shadow: 3px 3px 4px 0px @Model.Color1;
                box-shadow: 3px 3px 4px 0px @Model.Color1;">
                <div class="container text-left">
                    <h6 class="display-4" style="color: @Model.Color2;">@Model.Name</h6>
                    @if (!String.IsNullOrEmpty(Model.Description))
                    {
                        <p class="lead" style="color: @Model.Color3;">@Model.Description</p>
                    }
                </div>
            </div>
            <div class="rounded mb-3 bg-light" id="messageBoard" style="border: 1px solid black;
                 -webkit-box-shadow: 3px 3px 4px 0px @Model.Color2;
                -moz-box-shadow: 3px 3px 4px 0px @Model.Color2;
                box-shadow: 3px 3px 4px 0px @Model.Color2;">
                @*<h3 class="font-weight-normal">Project idea board</h3>*@
                <div class="d-inline-block overflow-auto rounded p-3 mt-3 mb-3" id="postingBoard" style="max-height: 750px; min-height: 150px; width: 85%;">
                    @if (Model.Posts.Count == 0)
                    {
                        <div class="projectPost rounded">
                            Oh no! It looks like no one on your team has posted anything yet.
                            <br />
                            Why don't you break the ice?
                        </div>
                    }
                    else
                    {
                        @foreach (var post in Model.Posts)
                        {
                            <div class="projectPost rounded text-left mb-2" id="Post--@post.Id">
                                @*image*@
                                <div class="rounded p-2"  style="border: 1px solid black;
                 -webkit-box-shadow: 3px 3px 4px 0px @Model.Color3;
                -moz-box-shadow: 3px 3px 4px 0px @Model.Color3;
                box-shadow: 3px 3px 4px 0px @Model.Color3;">                                         
                                    @if (!String.IsNullOrEmpty(post.ImageFile))
                                    {
                                        <div class="text-center">
                                            <img src="~/Images/@post.ImageFile" alt="user posted image" class="mb-2" style="max-width:80%;">
                                        </div>
                                    }
                                    @*text*@
                                    <p class="mb-2 messageInputText">@post.Text</p>

                                    @*link*@
                                    @if (!String.IsNullOrEmpty(post.Link))
                                    {
                                        <a href="@post.Link" target="_blank" class="mb-2 messageInputText">User Posted Link</a>
                                    }

                                    <p class="text-right mb-0 messageInputText">- @post.ApplicationUser.FirstName @post.ApplicationUser.LastName</p>
                                    @if (post.ApplicationUserId == @UserManager.GetUserAsync(User).Result.Id)
                                    {
                                        <div class="text-right">
                                            <button class="btn btn-outline-success btn-sm postEditButton" id="Edit--@post.Id">Edit</button>
                                            <button type="submit" class="btn btn-outline-danger btn-sm deleteButton" id="Delete--@post.Id">Delete</button>
                                        </div>
                                    }
                                </div>

                                @*comments*@
                                @foreach (var comment in post.Comments)
                                {
                                    <div>
                                        <p>@comment.Text</p>
                                        <p class="text-right">- @comment.ApplicationUser.FirstName @comment.ApplicationUser.FirstName</p>
                                    </div>
                                }
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="postInputForm rounded p-3" 
                 style="border: 1px solid black;
                 -webkit-box-shadow: 3px 3px 4px 0px @Model.Color3;
                -moz-box-shadow: 3px 3px 4px 0px @Model.Color3;
                box-shadow: 3px 3px 4px 0px @Model.Color3;">
                <form asp-action="Create" asp-controller="Posts" enctype="multipart/form-data" class="w-75" style="margin:0 auto;" id="postBoardForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <input type="hidden" asp-for="@Model.PostViewModel.WorkspaceId" value="@Model.Id" id="inputWorkspaceId"/>

                    <div class="form-group">
                        <label asp-for="@Model.PostViewModel.Text" class="control-label text-left postFormLabel">Text:</label>
                        <textarea asp-for="@Model.PostViewModel.Text" class="form-control" id="inputText" ></textarea>
                        <span asp-validation-for="@Model.PostViewModel.Text" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.PostViewModel.Image" class="control-label text-left postFormLabel">Image Upload:</label>
                        <input asp-for="@Model.PostViewModel.Image" class="form-control" type="file" id="inputImage"/>
                        <span asp-validation-for="@Model.PostViewModel.Image" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.PostViewModel.Link" class="control-label text-left postFormLabel">Link:</label>
                        <input asp-for="@Model.PostViewModel.Link" class="form-control" type="url" id="inputLink"/>
                        <span asp-validation-for="@Model.PostViewModel.Link" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input id="Submit" type="button" value="Submit" class="btn btn-primary" />
                        <input id="Update" type="hidden" value="Update" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.5/lib/darkmode-js.min.js"></script>
<script src="~/js/WorkspaceJS.js" type="module"></script>

